[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-login = "*"
flask-uploads = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.8"
